
.section-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.section-20 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-34 {
	padding-top: 34px;
	padding-bottom: 34px;
}

.section-41 {
	padding-top: 41px;
	padding-bottom: 41px;
}

.section-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

.section-66 {
	padding-top: 66px;
	padding-bottom: 66px;
}

.section-85 {
	padding-top: 85px;
	padding-bottom: 85px;
}

.section-98 {
	padding-top: 98px;
	padding-bottom: 98px;
}

.section-110 {
	padding-top: 110px;
	padding-bottom: 110px;
}

.section-124 {
	padding-top: 124px;
	padding-bottom: 124px;
}

.section-254 {
	padding-top: 254px;
	padding-bottom: 254px;
}

.section-350 {
	padding-top: 350px;
	padding-bottom: 350px;
}

@media (min-width: 480px) {
	.section-xs-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-xs-20 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-xs-34 {
		padding-top: 34px;
		padding-bottom: 34px;
	}
	.section-xs-41 {
		padding-top: 41px;
		padding-bottom: 41px;
	}
	.section-xs-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section-xs-66 {
		padding-top: 66px;
		padding-bottom: 66px;
	}
	.section-xs-85 {
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.section-xs-98 {
		padding-top: 98px;
		padding-bottom: 98px;
	}
	.section-xs-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.section-xs-124 {
		padding-top: 124px;
		padding-bottom: 124px;
	}
	.section-xs-254 {
		padding-top: 254px;
		padding-bottom: 254px;
	}
	.section-xs-350 {
		padding-top: 350px;
		padding-bottom: 350px;
	}
}

@media (min-width: 768px) {
	.section-sm-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-sm-20 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-sm-34 {
		padding-top: 34px;
		padding-bottom: 34px;
	}
	.section-sm-41 {
		padding-top: 41px;
		padding-bottom: 41px;
	}
	.section-sm-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section-sm-66 {
		padding-top: 66px;
		padding-bottom: 66px;
	}
	.section-sm-85 {
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.section-sm-98 {
		padding-top: 98px;
		padding-bottom: 98px;
	}
	.section-sm-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.section-sm-124 {
		padding-top: 124px;
		padding-bottom: 124px;
	}
	.section-sm-254 {
		padding-top: 254px;
		padding-bottom: 254px;
	}
	.section-sm-350 {
		padding-top: 350px;
		padding-bottom: 350px;
	}
}

@media (min-width: 992px) {
	.section-md-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-md-20 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-md-34 {
		padding-top: 34px;
		padding-bottom: 34px;
	}
	.section-md-41 {
		padding-top: 41px;
		padding-bottom: 41px;
	}
	.section-md-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section-md-66 {
		padding-top: 66px;
		padding-bottom: 66px;
	}
	.section-md-85 {
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.section-md-98 {
		padding-top: 98px;
		padding-bottom: 98px;
	}
	.section-md-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.section-md-124 {
		padding-top: 124px;
		padding-bottom: 124px;
	}
	.section-md-254 {
		padding-top: 254px;
		padding-bottom: 254px;
	}
	.section-md-350 {
		padding-top: 350px;
		padding-bottom: 350px;
	}
}

@media (min-width: 1200px) {
	.section-lg-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-lg-20 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-lg-34 {
		padding-top: 34px;
		padding-bottom: 34px;
	}
	.section-lg-41 {
		padding-top: 41px;
		padding-bottom: 41px;
	}
	.section-lg-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section-lg-66 {
		padding-top: 66px;
		padding-bottom: 66px;
	}
	.section-lg-85 {
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.section-lg-98 {
		padding-top: 98px;
		padding-bottom: 98px;
	}
	.section-lg-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.section-lg-124 {
		padding-top: 124px;
		padding-bottom: 124px;
	}
	.section-lg-254 {
		padding-top: 254px;
		padding-bottom: 254px;
	}
	.section-lg-350 {
		padding-top: 350px;
		padding-bottom: 350px;
	}
}

@media (min-width: 1800px) {
	.section-xl-0 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-xl-20 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.section-xl-34 {
		padding-top: 34px;
		padding-bottom: 34px;
	}
	.section-xl-41 {
		padding-top: 41px;
		padding-bottom: 41px;
	}
	.section-xl-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.section-xl-66 {
		padding-top: 66px;
		padding-bottom: 66px;
	}
	.section-xl-85 {
		padding-top: 85px;
		padding-bottom: 85px;
	}
	.section-xl-98 {
		padding-top: 98px;
		padding-bottom: 98px;
	}
	.section-xl-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}
	.section-xl-124 {
		padding-top: 124px;
		padding-bottom: 124px;
	}
	.section-xl-254 {
		padding-top: 254px;
		padding-bottom: 254px;
	}
	.section-xl-350 {
		padding-top: 350px;
		padding-bottom: 350px;
	}
}

.section-top-0 {
	padding-top: 0;
}

.section-top-20 {
	padding-top: 20px;
}

.section-top-34 {
	padding-top: 34px;
}

.section-top-41 {
	padding-top: 41px;
}

.section-top-50 {
	padding-top: 50px;
}

.section-top-66 {
	padding-top: 66px;
}

.section-top-85 {
	padding-top: 85px;
}

.section-top-98 {
	padding-top: 98px;
}

.section-top-110 {
	padding-top: 110px;
}

.section-top-124 {
	padding-top: 124px;
}

.section-top-254 {
	padding-top: 254px;
}

.section-top-350 {
	padding-top: 350px;
}

@media (min-width: 480px) {
	.section-xs-top-0 {
		padding-top: 0;
	}
	.section-xs-top-20 {
		padding-top: 20px;
	}
	.section-xs-top-34 {
		padding-top: 34px;
	}
	.section-xs-top-41 {
		padding-top: 41px;
	}
	.section-xs-top-50 {
		padding-top: 50px;
	}
	.section-xs-top-66 {
		padding-top: 66px;
	}
	.section-xs-top-85 {
		padding-top: 85px;
	}
	.section-xs-top-98 {
		padding-top: 98px;
	}
	.section-xs-top-110 {
		padding-top: 110px;
	}
	.section-xs-top-124 {
		padding-top: 124px;
	}
	.section-xs-top-254 {
		padding-top: 254px;
	}
	.section-xs-top-350 {
		padding-top: 350px;
	}
}

@media (min-width: 768px) {
	.section-sm-top-0 {
		padding-top: 0;
	}
	.section-sm-top-20 {
		padding-top: 20px;
	}
	.section-sm-top-34 {
		padding-top: 34px;
	}
	.section-sm-top-41 {
		padding-top: 41px;
	}
	.section-sm-top-50 {
		padding-top: 50px;
	}
	.section-sm-top-66 {
		padding-top: 66px;
	}
	.section-sm-top-85 {
		padding-top: 85px;
	}
	.section-sm-top-98 {
		padding-top: 98px;
	}
	.section-sm-top-110 {
		padding-top: 110px;
	}
	.section-sm-top-124 {
		padding-top: 124px;
	}
	.section-sm-top-254 {
		padding-top: 254px;
	}
	.section-sm-top-350 {
		padding-top: 350px;
	}
}

@media (min-width: 992px) {
	.section-md-top-0 {
		padding-top: 0;
	}
	.section-md-top-20 {
		padding-top: 20px;
	}
	.section-md-top-34 {
		padding-top: 34px;
	}
	.section-md-top-41 {
		padding-top: 41px;
	}
	.section-md-top-50 {
		padding-top: 50px;
	}
	.section-md-top-66 {
		padding-top: 66px;
	}
	.section-md-top-85 {
		padding-top: 85px;
	}
	.section-md-top-98 {
		padding-top: 98px;
	}
	.section-md-top-110 {
		padding-top: 110px;
	}
	.section-md-top-124 {
		padding-top: 124px;
	}
	.section-md-top-254 {
		padding-top: 254px;
	}
	.section-md-top-350 {
		padding-top: 350px;
	}
}

@media (min-width: 1200px) {
	.section-lg-top-0 {
		padding-top: 0;
	}
	.section-lg-top-20 {
		padding-top: 20px;
	}
	.section-lg-top-34 {
		padding-top: 34px;
	}
	.section-lg-top-41 {
		padding-top: 41px;
	}
	.section-lg-top-50 {
		padding-top: 50px;
	}
	.section-lg-top-66 {
		padding-top: 66px;
	}
	.section-lg-top-85 {
		padding-top: 85px;
	}
	.section-lg-top-98 {
		padding-top: 98px;
	}
	.section-lg-top-110 {
		padding-top: 110px;
	}
	.section-lg-top-124 {
		padding-top: 124px;
	}
	.section-lg-top-254 {
		padding-top: 254px;
	}
	.section-lg-top-350 {
		padding-top: 350px;
	}
}

@media (min-width: 1800px) {
	.section-xl-top-0 {
		padding-top: 0;
	}
	.section-xl-top-20 {
		padding-top: 20px;
	}
	.section-xl-top-34 {
		padding-top: 34px;
	}
	.section-xl-top-41 {
		padding-top: 41px;
	}
	.section-xl-top-50 {
		padding-top: 50px;
	}
	.section-xl-top-66 {
		padding-top: 66px;
	}
	.section-xl-top-85 {
		padding-top: 85px;
	}
	.section-xl-top-98 {
		padding-top: 98px;
	}
	.section-xl-top-110 {
		padding-top: 110px;
	}
	.section-xl-top-124 {
		padding-top: 124px;
	}
	.section-xl-top-254 {
		padding-top: 254px;
	}
	.section-xl-top-350 {
		padding-top: 350px;
	}
}

.section-bottom-0 {
	padding-bottom: 0;
}

.section-bottom-20 {
	padding-bottom: 20px;
}

.section-bottom-34 {
	padding-bottom: 34px;
}

.section-bottom-41 {
	padding-bottom: 41px;
}

.section-bottom-50 {
	padding-bottom: 50px;
}

.section-bottom-66 {
	padding-bottom: 66px;
}

.section-bottom-85 {
	padding-bottom: 85px;
}

.section-bottom-98 {
	padding-bottom: 98px;
}

.section-bottom-110 {
	padding-bottom: 110px;
}

.section-bottom-124 {
	padding-bottom: 124px;
}

.section-bottom-254 {
	padding-bottom: 254px;
}

.section-bottom-350 {
	padding-bottom: 350px;
}

@media (min-width: 480px) {
	.section-xs-bottom-0 {
		padding-bottom: 0;
	}
	.section-xs-bottom-20 {
		padding-bottom: 20px;
	}
	.section-xs-bottom-34 {
		padding-bottom: 34px;
	}
	.section-xs-bottom-41 {
		padding-bottom: 41px;
	}
	.section-xs-bottom-50 {
		padding-bottom: 50px;
	}
	.section-xs-bottom-66 {
		padding-bottom: 66px;
	}
	.section-xs-bottom-85 {
		padding-bottom: 85px;
	}
	.section-xs-bottom-98 {
		padding-bottom: 98px;
	}
	.section-xs-bottom-110 {
		padding-bottom: 110px;
	}
	.section-xs-bottom-124 {
		padding-bottom: 124px;
	}
	.section-xs-bottom-254 {
		padding-bottom: 254px;
	}
	.section-xs-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 768px) {
	.section-sm-bottom-0 {
		padding-bottom: 0;
	}
	.section-sm-bottom-20 {
		padding-bottom: 20px;
	}
	.section-sm-bottom-34 {
		padding-bottom: 34px;
	}
	.section-sm-bottom-41 {
		padding-bottom: 41px;
	}
	.section-sm-bottom-50 {
		padding-bottom: 50px;
	}
	.section-sm-bottom-66 {
		padding-bottom: 66px;
	}
	.section-sm-bottom-85 {
		padding-bottom: 85px;
	}
	.section-sm-bottom-98 {
		padding-bottom: 98px;
	}
	.section-sm-bottom-110 {
		padding-bottom: 110px;
	}
	.section-sm-bottom-124 {
		padding-bottom: 124px;
	}
	.section-sm-bottom-254 {
		padding-bottom: 254px;
	}
	.section-sm-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 992px) {
	.section-md-bottom-0 {
		padding-bottom: 0;
	}
	.section-md-bottom-20 {
		padding-bottom: 20px;
	}
	.section-md-bottom-34 {
		padding-bottom: 34px;
	}
	.section-md-bottom-41 {
		padding-bottom: 41px;
	}
	.section-md-bottom-50 {
		padding-bottom: 50px;
	}
	.section-md-bottom-66 {
		padding-bottom: 66px;
	}
	.section-md-bottom-85 {
		padding-bottom: 85px;
	}
	.section-md-bottom-98 {
		padding-bottom: 98px;
	}
	.section-md-bottom-110 {
		padding-bottom: 110px;
	}
	.section-md-bottom-124 {
		padding-bottom: 124px;
	}
	.section-md-bottom-254 {
		padding-bottom: 254px;
	}
	.section-md-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 1200px) {
	.section-lg-bottom-0 {
		padding-bottom: 0;
	}
	.section-lg-bottom-20 {
		padding-bottom: 20px;
	}
	.section-lg-bottom-34 {
		padding-bottom: 34px;
	}
	.section-lg-bottom-41 {
		padding-bottom: 41px;
	}
	.section-lg-bottom-50 {
		padding-bottom: 50px;
	}
	.section-lg-bottom-66 {
		padding-bottom: 66px;
	}
	.section-lg-bottom-85 {
		padding-bottom: 85px;
	}
	.section-lg-bottom-98 {
		padding-bottom: 98px;
	}
	.section-lg-bottom-110 {
		padding-bottom: 110px;
	}
	.section-lg-bottom-124 {
		padding-bottom: 124px;
	}
	.section-lg-bottom-254 {
		padding-bottom: 254px;
	}
	.section-lg-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 1800px) {
	.section-xl-bottom-0 {
		padding-bottom: 0;
	}
	.section-xl-bottom-20 {
		padding-bottom: 20px;
	}
	.section-xl-bottom-34 {
		padding-bottom: 34px;
	}
	.section-xl-bottom-41 {
		padding-bottom: 41px;
	}
	.section-xl-bottom-50 {
		padding-bottom: 50px;
	}
	.section-xl-bottom-66 {
		padding-bottom: 66px;
	}
	.section-xl-bottom-85 {
		padding-bottom: 85px;
	}
	.section-xl-bottom-98 {
		padding-bottom: 98px;
	}
	.section-xl-bottom-110 {
		padding-bottom: 110px;
	}
	.section-xl-bottom-124 {
		padding-bottom: 124px;
	}
	.section-xl-bottom-254 {
		padding-bottom: 254px;
	}
	.section-xl-bottom-350 {
		padding-bottom: 350px;
	}
}


.section-bottom-0 {
	padding-bottom: 0;
}

.section-bottom-20 {
	padding-bottom: 20px;
}

.section-bottom-34 {
	padding-bottom: 34px;
}

.section-bottom-41 {
	padding-bottom: 41px;
}

.section-bottom-50 {
	padding-bottom: 50px;
}

.section-bottom-66 {
	padding-bottom: 66px;
}

.section-bottom-85 {
	padding-bottom: 85px;
}

.section-bottom-98 {
	padding-bottom: 98px;
}

.section-bottom-110 {
	padding-bottom: 110px;
}

.section-bottom-124 {
	padding-bottom: 124px;
}

.section-bottom-254 {
	padding-bottom: 254px;
}

.section-bottom-350 {
	padding-bottom: 350px;
}

@media (min-width: 480px) {
	.section-xs-bottom-0 {
		padding-bottom: 0;
	}
	.section-xs-bottom-20 {
		padding-bottom: 20px;
	}
	.section-xs-bottom-34 {
		padding-bottom: 34px;
	}
	.section-xs-bottom-41 {
		padding-bottom: 41px;
	}
	.section-xs-bottom-50 {
		padding-bottom: 50px;
	}
	.section-xs-bottom-66 {
		padding-bottom: 66px;
	}
	.section-xs-bottom-85 {
		padding-bottom: 85px;
	}
	.section-xs-bottom-98 {
		padding-bottom: 98px;
	}
	.section-xs-bottom-110 {
		padding-bottom: 110px;
	}
	.section-xs-bottom-124 {
		padding-bottom: 124px;
	}
	.section-xs-bottom-254 {
		padding-bottom: 254px;
	}
	.section-xs-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 768px) {
	.section-sm-bottom-0 {
		padding-bottom: 0;
	}
	.section-sm-bottom-20 {
		padding-bottom: 20px;
	}
	.section-sm-bottom-34 {
		padding-bottom: 34px;
	}
	.section-sm-bottom-41 {
		padding-bottom: 41px;
	}
	.section-sm-bottom-50 {
		padding-bottom: 50px;
	}
	.section-sm-bottom-66 {
		padding-bottom: 66px;
	}
	.section-sm-bottom-85 {
		padding-bottom: 85px;
	}
	.section-sm-bottom-98 {
		padding-bottom: 98px;
	}
	.section-sm-bottom-110 {
		padding-bottom: 110px;
	}
	.section-sm-bottom-124 {
		padding-bottom: 124px;
	}
	.section-sm-bottom-254 {
		padding-bottom: 254px;
	}
	.section-sm-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 992px) {
	.section-md-bottom-0 {
		padding-bottom: 0;
	}
	.section-md-bottom-20 {
		padding-bottom: 20px;
	}
	.section-md-bottom-34 {
		padding-bottom: 34px;
	}
	.section-md-bottom-41 {
		padding-bottom: 41px;
	}
	.section-md-bottom-50 {
		padding-bottom: 50px;
	}
	.section-md-bottom-66 {
		padding-bottom: 66px;
	}
	.section-md-bottom-85 {
		padding-bottom: 85px;
	}
	.section-md-bottom-98 {
		padding-bottom: 98px;
	}
	.section-md-bottom-110 {
		padding-bottom: 110px;
	}
	.section-md-bottom-124 {
		padding-bottom: 124px;
	}
	.section-md-bottom-254 {
		padding-bottom: 254px;
	}
	.section-md-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 1200px) {
	.section-lg-bottom-0 {
		padding-bottom: 0;
	}
	.section-lg-bottom-20 {
		padding-bottom: 20px;
	}
	.section-lg-bottom-34 {
		padding-bottom: 34px;
	}
	.section-lg-bottom-41 {
		padding-bottom: 41px;
	}
	.section-lg-bottom-50 {
		padding-bottom: 50px;
	}
	.section-lg-bottom-66 {
		padding-bottom: 66px;
	}
	.section-lg-bottom-85 {
		padding-bottom: 85px;
	}
	.section-lg-bottom-98 {
		padding-bottom: 98px;
	}
	.section-lg-bottom-110 {
		padding-bottom: 110px;
	}
	.section-lg-bottom-124 {
		padding-bottom: 124px;
	}
	.section-lg-bottom-254 {
		padding-bottom: 254px;
	}
	.section-lg-bottom-350 {
		padding-bottom: 350px;
	}
}

@media (min-width: 1800px) {
	.section-xl-bottom-0 {
		padding-bottom: 0;
	}
	.section-xl-bottom-20 {
		padding-bottom: 20px;
	}
	.section-xl-bottom-34 {
		padding-bottom: 34px;
	}
	.section-xl-bottom-41 {
		padding-bottom: 41px;
	}
	.section-xl-bottom-50 {
		padding-bottom: 50px;
	}
	.section-xl-bottom-66 {
		padding-bottom: 66px;
	}
	.section-xl-bottom-85 {
		padding-bottom: 85px;
	}
	.section-xl-bottom-98 {
		padding-bottom: 98px;
	}
	.section-xl-bottom-110 {
		padding-bottom: 110px;
	}
	.section-xl-bottom-124 {
		padding-bottom: 124px;
	}
	.section-xl-bottom-254 {
		padding-bottom: 254px;
	}
	.section-xl-bottom-350 {
		padding-bottom: 350px;
	}
}